# Dependencies
node_modules/
__pycache__/
*.pyc
.env

# Build
build/
dist/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!terraform/environments/**/*.tfvars

# Logs
*.log
npm-debug.log* 

**/venv/**